@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outlined-white {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px white; 
}

.quote {
    font-family: Professor,sans-serif;
    line-height: 1.41;
}
